Package: libpotrace-dev
Source: potrace
Version: 1.15-1
Architecture: amd64
Maintainer: Bartosz Fenski <fenio@debian.org>
Installed-Size: 27
Depends: libpotrace0 (= 1.15-1)
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: http://potrace.sourceforge.net/
Description: development files for potrace library
 potrace is a utility for tracing a bitmap, which means, transforming
 a bitmap into a smooth, scalable image.
 .
 libpotrace-dev contains header file needed to compile programs that
 utilize the potrace library.
